body,
body::before,
body::before {
  font-family: $general-font !important;
}

// Headings styles
h1,
h2,
.title__xl {
  font-family: $title-font !important;
  font-weight: 700;
  line-height: 1.1;
}
h1,
.title__xl {
  font-size: 58px;
}

h2,
.section__title {
  font-size: 3rem;
}

h3,
h3.nav__link {
  font-size: 1.3rem;
  color: #fff;
}

// other style´s elements

a {
  text-decoration: none;
  &:hover {
    color: rgba($color: rgb(238, 238, 238), $alpha: 0.5);
  }
}

section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.section__subtitle {
  font-size: 2rem;
  line-height: 1.5;
}

img,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
.list {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.7;
}

// Fonts & text styles
.text__xl {
  font-size: 1.6rem;
  line-height: 1.5;
}
.text__lg {
  font-size: 1.3rem;
  line-height: 1.5;
}
.text__mid {
  font-size: 1.1rem;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}
.text__sm {
  font-size: 0.8rem;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}

.text__special {
  font-size: 2rem;
  // font-family: $special-font;
}
.font-dark {
  color: #858383;
}
.font-light {
  color: #fff;
}
.font-purple {
  color: $purple-primary;
}
.font-blue {
  color: $blue-sec-light;
}
.font-gray {
  color: #87898a;
}
.font-yellow {
  color: $yellow-cta;
}
.fw-700 {
  font-weight: 700;
}
.fw-600 {
  font-weight: 600;
}

// Backgrounds
.bg-light {
  background-color: #fff !important;
}
.bg-dark {
  background-color: #000 !important;
}
.bg-green {
  background-color: $blue-sec-light !important;
}
.bg-purple {
  background-color: $purple-primary !important;
}

.card__title {
  font-family: $title-font;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}
.card__subtitle {
  font-size: 1.1rem;
  color: #bbb;
  font-weight: 400;
}
.card__text {
  font-size: 1.1rem;
  font-weight: 400;
}

// Buttons

.btn {
  height: 45px !important;
  color: #fff !important;
  text-transform: capitalize !important;
  line-height: 32px !important;
  padding: 0.5rem 1.5rem !important;
  font-size: 21px !important;
  border-radius: 60px !important;
  letter-spacing: inherit;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 .6rem .8rem rgba(#000, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}

.bg-primary {
  background-color: $yellow-cta !important;
}
.bg-secondary {
  background-color: transparent !important;
  border: 1.5px solid #fff !important;
}

// Animations

.before-enter {
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.5s ease-out;
}
.enter {
  opacity: 1;
  transform: translateY(0);
}

// Responsive Desing + MQ's mixins

@include respond(phone) {
  h1,
  .title__xl {
    font-size: 2.6rem;
  }
  .content__wrapper {
    padding: 5rem 1rem;
  }
}
